<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="veri_tabanı_veri_kaydetme.Properties.Settings.soruConnectionString"
            connectionString="Data Source=ERCANMONSTER;Initial Catalog=soru;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="veri_tabanı_veri_kaydetme.Properties.Settings.ConnectionString"
            connectionString="Data Source=ERCANMONSTER\ERCANSERVER;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>